.home {
    text-align: center;
}

.home h1 {
    font-size: 35px;
    margin: 10px;
    font-weight: 700;
}

.home img {
    width: 400px;
}

.user-logo{
    width:40px;
    border-radius: 25px;
    border: 3px solid rgb(245, 209, 255);
}