.container {
    margin: 0 auto;
}

section.inbox-container {
    width: 100%;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}

section.inbox-container thead tr{
    height: 48px;
}

/* GRIDS */
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}

