.app-header {
    background: #15486d;
    color: white;

}

.app-header section.container {
    display: grid;
    grid-template-columns: 1fr 0.18fr 0.06fr;
    padding: 10px;
    align-items: center;

}

@media screen and (max-width: 600px) {
    .app-header section.container {
    grid-template-columns: 1fr 0.7fr 0.2fr;
    }
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
    padding: 0 20px;
}

.app-header section.container>section {
    flex-grow: 1;
}