.app-header {
    background: #F6F8FC;
    color: white;

}

.app-header section.container {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-around;
}

.app-header .user-settings{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 4px;
    box-sizing: border-box;
    height: 48px;
}

.app-header .app-logo{
    min-width: 238px;
    padding-right: 30px;
    padding-left: 30px;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.app-header .search-filter{
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    padding-right: 30px;
    height: 48px;
}

.user-logo{
    width:40px;
    border-radius: 25px;
    border: 3px solid rgb(245, 209, 255);
}

@media screen and (max-width: 600px) {
    .app-header section.container {
    grid-template-columns: 1fr 0.7fr 0.2fr;
    }

    .app-header .app-logo{
        display: none;
    }
    
}
