.app-header {
  background: #f6f8fc;
  section {
    &.container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  .user-settings {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 4px;
    box-sizing: border-box;
    height: 48px;
  }
  .app-logo {
    padding-inline: 30px;
    min-width: 238px;
  }
  .search-filter {
    display: flex;
    flex: 1;
    height: 48px;
    padding-inline: 10px;
  }
}
.user-logo {
  width: 40px;
  border-radius: 25px;
  border: 3px solid rgb(245, 209, 255);
}

@media screen and (max-width: 600px) {
  .app-header {
    section {
      &.container {
        grid-template-columns: 1fr 0.7fr 0.2fr;
      }
    }
    .app-logo {
      display: none;
    }
    .mobile-menu {
      display: flex;
      margin: 10px;
    }
  }
}
