.subject a{
    font-size: 18px;
    padding: 10px;
}

td.subject {
    display: grid;
    padding: 0 10px;
    border-bottom: #d6d6d6 2px solid;
    width: 800px;
    grid-template-columns: 1fr 0.18fr 0fr;
    align-items: center;
}

.email-sent-time{
    font-size: 14px;
    color: rgb(87, 87, 87);
}

@media screen and (max-width: 600px) {
    td.subject {
        width: auto;
        grid-template-columns: 1fr 0.5fr 0fr;
    }

    table.email-list {
        width: 100%;
    }

    section.inbox-container {
        width: 100%;
    }

    .email-sent-time{
        font-size: 12px;
    }
}