.email-filter #search {
    border-radius: 25px;
    padding: 9px 34px 9px;
    background-color: #eaf1fb;
    width: 250px;
    border: none;
    background-image: url(/misterEmail/src/assets/imgs/search.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 16px;
}

@media screen and (max-width: 600px) {
    form.email-filter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.email-filter #search {
    background-color: #eaf1fb;
    border-radius: 50px;
    text-align: left;
    width: 80%;
    padding: 8px 8px 8px 30px;
}

svg.lucide.lucide-align-justify {
    margin-right: 25px;
}
}