.right-nav {
  background-color: #f6f8fc;
  width: 56px;
  padding: 10px;
}

.right-nav nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  /* .right-nav{
        display: none;
    } */
}
