.right-nav {
  background-color: #f6f8fc;
  width: 56px;
  padding: 10px;
}

.right-nav nav {
  display: grid;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .right-nav {
    width: 0;
    padding: 0;
  }
  .right-nav nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 40px;
    justify-content: space-around;
  }
}
