.side-nav {
  background-color: #f6f8fc;
  width: 238px;
  height: 680px;
  text-align: center;
  transition: 1s;
  max-width: 256px!important;
  min-width: 256px!important;
  padding-right: 20px;
}

.email-compose{
 background-color: #C2E7FF;
 border-radius: 16px;
 padding: 0 24px 0 15px;
 height: 56px;
 border:none;
 align-items: center;
 text-align: center;
 display: flex;
 margin-left: 10px;
 font-size: 14px;
 margin-bottom: 20px;
}

.email-compose:hover{
box-shadow:  1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}



.side-nav ul:hover{
   background-color: #dae9ff;
   cursor: pointer;
   border-radius: 0 25px 25px 0px;
  }

  .side-nav ul {
    padding: 6px;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 1fr;
    font-size: .875rem;
    text-align: left;
    align-items: center;
    margin: 0;
}

.side-nav ul svg , .side-nav button svg{
  margin: 0 10px 0 0;
}

.side-nav ul.active {
  background-color: #D3E3FD;
  font-weight: 700;
  border-radius: 0px 25px 25px 0px;
}

.side-nav ul span{
  font-weight: 700;
  font-size: .75rem;
  text-align: right;
  padding-right: 5px;

}

@media screen and (max-width: 600px) {
  .side-nav {
    position: absolute;
    left: -300px;
    top: 0;
    width: 90%;
    height: 100%;
}

svg.lucide.lucide-x {
  position: absolute;
  top: 20px;
  right: 20px;
}

.side-nav ul{
  padding: 15px 25px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    font-size: .875rem;
    align-items: center;
}

.side-nav button{
  margin-left: 25px;
}
}