.side-nav {
  background-color: white;
  width: 200px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid black;
  margin: 0 20px 0 0;
  transition: 1s;
}

.email-compose{
  background-color: #dae9ff;
  border-radius: 25px;
  padding: 10px 15px;
  border:none;
}
.email-compose:hover{
box-shadow:  1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149)
}

.side-nav ul{
  padding: 25px;
}

.side-nav ul:hover{
   background-color: #dae9ff;
   cursor: pointer;
  }

  .side-nav ul {
    padding: 15px;
    display: grid;
    grid-template-columns: 0fr 0.4fr 1fr;
    font-size: .875rem;
    align-items: center;
}

.side-nav button {
  text-align: center;
  display: flex;
  margin: auto;
}

.side-nav ul svg , .side-nav button svg{
  margin: 0 10px 0 0;
}

.side-nav ul.active {
  background-color: #eaf1fb;
  font-weight: 700;
}

.side-nav ul span{
  font-weight: 700;
  font-size: .75rem;
  padding-left: 20px;

}

@media screen and (max-width: 600px) {
  .side-nav {
    position: absolute;
    left: -300px;
    top: 0;
    width: 90%;
    height: 100%;
}

svg.lucide.lucide-x {
  position: absolute;
  top: 20px;
  right: 20px;
}

.side-nav ul{
  padding: 15px 25px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    font-size: .875rem;
    align-items: center;
}

.side-nav button{
  margin-left: 25px;
}
}